#navigation__logo {

  display: block;
  margin: auto;
  content: url("/assets/img/menulogo_350px.png");

  @include viewports(medium) {
    content: url("/assets/img/menulogo_200px.png");
  }

  @include viewports(up-to small) {
    content: url("/assets/img/logo_ribbon.png");
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
}

.navigation__links {
  margin: auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  @include viewports(medium) {
    border-width: 0 2px 2px 2px;
    width: 162px;
  }

  @include viewports(large) {
    border-width: 0 4px 4px 4px;
    width: 282px;
  }

  hr {
    width: 80%;
  }
}

.pages {
  @include viewports(medium) {
    padding-top: 15px;
  }

  @include viewports(large) {
    padding-top: 20px;
  }

  text-align: center;

  li a {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 20px;

    @include viewports(above medium) {
      font-size: 25px;
    }

    &:hover {
      color: black;
    }
  }
}

.medias {
  margin-top: 10px;
  text-align: center;

  @include viewports(up-to small) {
    display: none;
  }

  hr {
    margin: 0 auto;
  }

  .pure-menu-list {
    margin: 10px auto;
  }

  @mixin media_link($media) {
    img {
      content: url("/assets/img/"+$media+"_logo.png");
    }

    &:hover {
      img {
        content: url("/assets/img/"+$media+"_logo_black.png");
      }
    }

    @include viewports(up-to medium) {
      img {
        width: 23px;
      }
    }
  }

  #facebook__link {
    @include media_link("fb");
  }

  #instagram__link {
    @include media_link("instagram");
  }



}
