img(id="navigation__logo")
div.pure-menu(class="navigation__links")
  ul.pure-menu-list(class="pages")
    li.pure-menu-item: a.pure-menu-link(href="introduction.html") Esittely
    li.pure-menu-item: a.pure-menu-link(href="menu.html") Ruoka
    li.pure-menu-item: a.pure-menu-link(href="contact.html") Yhteystiedot
  div(class="links")
