include ../mixins/navigation

div(class="navigation")
  img(id="navigation__logo")
  div(class="navigation__links content__background")
    div.pure-menu
      ul.pure-menu-list(class="pages")
        +page("Esittely", "index.html")
        +page("Ruoka", "menu.html")
        +page("Yhteystiedot", "contact.html")
    div.pure-menu.pure-menu-horizontal(class="medias")
      hr
      ul.pure-menu-list
        +media("facebook")
        +media("instagram")
