.container {
  @include viewports(up-to small) {
    flex-direction: column;
  }

  display: flex;
  flex-direction: row;
}

.navigation__wrapper {
  @include viewports(up-to small) {
    width: 100%;
  }

  width: 30%;
}

.navigation {
  margin-top: 40px;
}

.content__wrapper {
  flex-grow: 1;
}

.content {
  @include viewports(up-to small) {
    margin: 20px 0 0;
  }

  font-family: 'Montserrat', sans-serif;
  margin: 40px;
}

.content__background {
  background-color: #000; // fallback
  background-color: rgba(0,0,0,0.8);
  border-style: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 6px;

  p {
    color: white;
  }

  a {
    color: white;
  }

  @include viewports(up-to small) {
    border-width: 3px 0;
    border-radius: 0;
  }
}
