html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #b3daff; // fallback
  background-image: url("/assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

  min-height: 100%;
  min-width: 200px;

  margin: 0;
}

.site__wrapper {

}
