extends ./root.pug

block site
    div.row
      div.col-md-4.col-sm-3.col-xs-12(class="menu")
        include ./includes/navigation.pug
      div.col-md-8.col-sm-9.col-xs-12(class="content")
        block content
    div.row
      include ./includes/footer.pug
