extends ./root.pug

block site
    div(class="container")
      div(class="navigation__wrapper")
        div(class="navigation")
          include ../includes/navigation.pug
      div(class="content__wrapper")
        div(class="content")
          block content
    //- include ../includes/footer.pug
