extends ../layout.pug

block content
  div(class="col-xs-12")
    div(class="info__holder center-block")
        img(src="/assets/img/menulogo.png")
        div(class="message-div")
          p(class="text-center") Website in progress
