extends ../layout.pug

block content
  div.col-xs-12
    div.center-block(class="info__holder")
      img(src="/assets/img/menulogo.png")
      div(class="message__div")
        p.text-center Website in progress
