body {
	background-image: url("/assets/img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.site__wrapper {
	height: 100%;
}

.info__holder {
	padding-top: 90px;
	width: 80%;
	height: 100%;
}

.message-div {
	width: 82.5%;
	margin: auto;
	background-color: black;
	box-sizing: border-box;
	border-style: none solid solid solid;
	border-radius: 0 0 4px 4px;
	border-width: 0.4vw;
	border-color: white;
	border
}

.message-div p {
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Reem Kufi', sans-serif;
	font-size: 2em;
	color: white;

}

.info__holder img {
	display: block;
	margin: auto;
	width: 100%;
}

